{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section>
        {% include '_embed/nav/nav_bar.html.twig' %}
    </section>
    <section>
        {% include '_embed/category/categories.html.twig' %}
    </section>
    <section>
        {% for product in data.items ?? [] %}
            <div>
                {% include 'pages/catalog/card_product.html.twig' %}
            </div>
        {% endfor %}

        {% if data.paginator is defined %}
            {% include '_embed/paginator.html.twig' with data.paginator %}
        {% endif %}
    </section>

{% endblock %}
