{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app_home') }}">Домой</a>

    {% if cart is defined %}
        <h5>{{ cart.id }}</h5>
        <ul>
            {% for cart_item in cart.cart_items %}
                <li>
                    {% include 'pages/cart/cart_Item.html.twig' with {cart_item: cart_item} %}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <h5>Корзина пуста</h5>
    {% endif %}

{% endblock %}
