{% set quantity = product.quantity ?? 0 %}

<div style="margin: 10px" {{ stimulus_controller('cart', {
    csrfToken: csrf_token('cart_csrf_token'),
    productId: product.id,
}) }} data-cart-target="container">

    <button type="button"
            data-action="click->cart#incrementCartItem"
            data-cart-target="addButton"
        {% if quantity > 0 %}
            style="display:none;"
        {% endif %}
    >
        В корзину
    </button>

    <div data-cart-target="quantityControls"
        {% if quantity == 0 %}
        style="display:none"
        {% endif %}>
        <button type="button" data-action="click->cart#decrementCartItem">➖</button>

        <label for="product_quantity"></label>
        <input
            id="product_quantity"
            type="number"
            data-cart-target="quantity"
            value="{{ quantity }}"
            min="0"
            data-action="change->cart#handleQuantityChange"
        />

        <button type="button" data-action="click->cart#incrementCartItem">➕</button>
    </div>

</div>
