{% set user = app.user %}
<nav>
    <ul>
        <li>
            <div {{ stimulus_controller('product_search', {
                csrfToken: csrf_token('cart_csrf_token'),
                path: path('app_product_search')
            }) }}>
                <input type="search" id="product_search" placeholder="product search">
                <label for="product_search">🔍</label>
            </div>

        </li>
        <li>
            <div data-controller="cart-widget" data-cart-widget-value="{{ csrf_token('cart_csrf_token') }}">
                <span>Товаров в корзине: <span data-cart-widget-target="count"></span></span>
            </div>
        </li>

        {% if user %}
            <li><span style="color: gray">{{ user.email }}</span></li>
        {% endif %}
    </ul>
</nav>
