{% set user = app.user %}
<nav>
    <ul>

        <li>
            {% include '_embed/search/search.html.twig' %}
        </li>

        <li>
            {% include '_embed/cart_widget/cart_widget.html.twig' %}
        </li>

        {% if user %}
            {% include '_embed/nav/user_widget.html.twig' %}
        {% endif %}

    </ul>
</nav>
