<nav>
    <ul class="nav-bar">
        <li>
            {% include '_embed/search/search.html.twig' %}
        </li>

        <li>
            {% include '_embed/cart_widget/cart_widget.html.twig' %}
        </li>

        {% if app.user %}
            <li>
                {% include '_embed/nav/user_widget.html.twig' with {user: app.user} %}
            </li>
        {% endif %}
    </ul>
</nav>
