<div class="com">

    <div>
        LOGO
    </div>

    <div>
        {% include '_embed/search/search.html.twig' %}
    </div>

    <div>
        {% include '_embed/cart_widget/cart_widget.html.twig' %}

    </div>

    {% if app.user %}
        <div>
            {% include '_embed/nav/user_widget.html.twig' with {user: app.user} %}
        </div>
    {% endif %}

</div>




