{# @var product \App\Entity\Product #}
<div style="margin-bottom: 10px" {{ stimulus_controller('cart', {
    csrfToken: csrf_token('cart_csrf_token'),
    productId: product.id
}) }}>

    <span>{{ product.id }}</span>

    <button type="button" data-action="click->cart#decrementCartItem">
        ➖
    </button>

    <input
        type="number"
        data-cart-target="quantity"
        value="0"
        min="0"
        data-action="change->cart#handleQuantityChange"
    />


    <button type="button" data-action="click->cart#incrementCartItem">
        ➕
    </button>

</div>

