<div style="border: 1px solid darkolivegreen; margin-bottom: 10px; padding: 10px">

    ID: {{ product.id }} <br>
    Товар: {{ product.name }} <br>

    {% include 'pages/cart/catalog_cart_update.html.twig' %}

</div>
