<div style="margin: 10px" {{ stimulus_controller('cart', {
    csrfToken: csrf_token('cart_csrf_token'),
    productId: product.id
}) }}>

    {% set quantity = 0 %}
    {% if product.quantity is defined %}
        {% set quantity = product.quantity %}
    {% endif %}

    <label for="product_label" style="color: #0a53be">{{ product.name }}</label>

    <button type="button" data-action="click->cart#decrementCartItem">➖</button>

    <input
        id="product_label"
        type="number"
        data-cart-target="quantity"
        value={{ quantity }}
        min="0"
        data-action="change->cart#handleQuantityChange"
    />

    <button type="button" data-action="click->cart#incrementCartItem">➕</button>

</div>

