{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin: 10px;">
        <a href="{{ path('app_home') }}" style="text-decoration: none">⏪ Home</a>
    </div>

    <h1 style="color: darkred">Каталог</h1>

    <section>
        {% for product in data.items ?? [] %}
            <div>
                {% include 'pages/catalog/card_product.html.twig' with product %}
            </div>
        {% endfor %}

        {% if data.paginator | length %}
            {% include '_embed/paginator.html.twig' with data.paginator %}
        {% endif %}
    </section>


    <div style="margin: 10px;">
        <a href="{{ path('app_cart') }}" style="text-decoration: none">🛒 Корзина</a>
    </div>

{% endblock %}
