{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin: 10px;">
        <a href="{{ path('app_home') }}">⬅ Главная</a>
    </div>

    <section>
        {% for product in data.items %}
            <div>
                {% include 'pages/catalog/card_product.html.twig' with product %}
            </div>
        {% endfor %}
    </section>



    <div style="margin: 10px;">
        <a href="{{ path('app_cart') }}">Корзина 🛒</a>
    </div>

{% endblock %}
