{% extends 'base.html.twig' %}

{% block body %}

    {% for item in data.items %}
        <div>
            {% include 'pages/catalog/card_product.html.twig' with {
                product:item
            } %}
        </div>
    {% endfor %}

    <span style="color: darkred">Тестируем стимулус</span>

    <div data-controller="cart-item" data-action="click:outside->cart-item">
        <a href="#">TEST</a>
    </div>

{% endblock %}
