{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin: 10px;">
        <a href="{{ path('app_home') }}">⬅ Главная</a>
    </div>

    <ul>
        {% for item in data.items %}
            <li>
                {% include 'pages/catalog/card_product.html.twig' with {
                    product:item
                } %}
            </li>
        {% endfor %}
    </ul>


    <div style="margin: 10px;">
        <a href="{{ path('app_cart') }}">Корзина 🛒</a>
    </div>

{% endblock %}
