{% extends 'base.html.twig' %}

{% block body %}

    {% for item in data.items %}
        <div>
            {% include 'pages/catalog/card_product.html.twig' with {
                product:item
            } %}
        </div>
    {% endfor %}

{% endblock %}
