{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin: 10px;">
        <a href="{{ path('app_home') }}">⬅ Главная</a>
    </div>

    {% for item in data.items %}
        <div>
            {% include 'pages/catalog/card_product.html.twig' with {
                product:item
            } %}
        </div>
    {% endfor %}

    <div style="margin: 10px;">
        <a href="{{ path('app_cart') }}">Корзина 🛒</a>
    </div>

{% endblock %}
