{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if app.user %}

        Вы авторизованы как {{ app.user.userIdentifier }}

    {% endif %}

    <div style="margin: 10px;">
        <a href="{{ path('app_catalog') }}">Каталог ➡</a>
    </div>

{% endblock %}
