{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% component 'Form:Input' with {
            id:"username",
            label: "Почта",
            type: "email",
            name: "_username",
            value: last_username,
            autocomplete: "email",
            required: true,
            autofocus: true,
            placeholder: "Почта",
        } %}
        {% endcomponent %}

        {% component 'Form:Input' with {
            id:'password',
            label:'Пароль',
            type:'password',
            name:'_password',
            autocomplete:'current-password',
            required:true,
        } %}
        {% endcomponent %}

        {% component 'Form:Input' with {
            type:'hidden',
            name:'_csrf_token',
            value: csrf_token('authenticate'),
            data:'csrf-protection',
        } %}
        {% endcomponent %}


        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
        #}


        {% component 'Form:Button' with {type:'submit'}%}
            {% block content %}Поехали!{% endblock %}
        {% endcomponent %}


    </form>
{% endblock %}
